@model IEnumerable<MyFirstMVC.Models.Category>

@{
    /**/

    ViewBag.Title = "Index";
}

<h2 class="text-center">Kategoriler</h2>
<hr />

<a href="@Url.Action("Create")" class="btn btn-primary">Yeni Kategori</a>


<table class="table">
    <thead>
        <tr>
            <th>Kategori Id</th>
            <th>Kategori Adı</th>            
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td> 
                <td><a href="@Url.Action("Edit",new { id=item.CategoryId})" class="btn btn-success btn-sm">Düzenle</a><a href="@Url.Action("Delete",new { id=item.CategoryId})" class="btn btn-danger btn-sm" onclick="return confirm('Bu kaydı silmek istediğinize emin misniz?'); ">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

